<!DOCTYPE html>
<html lang="en" data-ng-app="sitesListApp">
    <head>
        <title>Available sites</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="js/angular.min.js" ></script>
        <script src="js/app.js" ></script>
        <link rel="stylesheet" href="css/w3.css" />
    </head>
    <body data-ng-controller="SitesListController">
        <div class="w3-container w3-purple">
            <h1>{{serverName}}</h1>
        </div>
        <section class="w3-padding-large w3-half" id="available_sites_section">
            <h2>
                Available sites
            </h2>
            <div class="w3-pale-green">
                <ul class="w3-ul">
                    <li data-ng-repeat="site in availableSites" title="ID: {{site.id}}">
                        <a href="{{site.url}}" class="w3-button w3-block w3-left-align w3-round w3-hover-green" target="_blank">{{site.label}}</a>
                    </li>
                    <li data-ng-if="availableSites.length === 0">
                    	No site available
                    </li>
                </ul>
            </div>
        </section>
        <section class="w3-padding-large w3-half" id="deactivated_sites_section">
            <h2>
                Disabled sites
            </h2>
            <div class="w3-pale-red">
                <ul class="w3-ul">
                    <li data-ng-repeat="site in disabledSites" title="ID: {{site.id}}">
                        <span class="w3-button w3-block w3-left-align w3-round w3-hover-red" style="cursor: not-allowed">{{site.label}}</span>
                    </li>
                    <li data-ng-if="disabledSites.length === 0">
                    	No site available
                    </li>
                </ul>
            </div>
        </section>
    </body>
</html>

